img {
    animation: rotateY 10s linear infinite;
    width: 100%;
}



@keyframes rotateY {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
    }

    50% {
        transform: rotate3d(1, 1, 1, 180deg);
    }

    100% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}