img {
    animation: rotateY 10s linear infinite;
    width: 30rem;
}

#main_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


@keyframes rotateY {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
    }

    50% {
        transform: rotate3d(1, 1, 1, 180deg);
    }

    100% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}